<% layout("layouts/boilerplatecode") -%>

    <body>
        <style>
            label {
                font-weight: bold;
            }
        </style>

        <form action="/listening" method="POST" class="col-8 needs-validation "   id="form-new" enctype="multipart/form-data">
            <h2 style=" color: #008080;" class="new-heading">Create New Listing</h2>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" placeholder="Enter title" name="listing[title]" id="title" class="form-control"
                    required minlength="3">
                <div class="invalid-feedback">
                    Title should be valid.
                </div>
            </div>



            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" cols="30" rows="2"
                    placeholder="Enter description" class="form-control" required minlength="10"></textarea>

                <div class="invalid-feedback">
                    please enter the valid description.
                </div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" id="category" class="form-control">
                    <option value="" disabled selected>Select a Category</option>
                    <option value="hotel">hotel</option>
                    <option value="villa">villa</option>
                    <option value="resort">Resort</option>
                    <option value="Appartment" >Appartment</option>
                    <option value="mountain city" >Mountain city</option>
                    <option value="desert" >Desert</option>
                    <option value="island" >Island</option>
                    <option value="farmshouse">farmshouse</option>
                    <option value="farm">farm</option>
                </select>
                

                <div class="invalid-feedback">
                    please enter the valid description.
                </div>
            </div>





            <!-- <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="text" placeholder="Enter Image URL" name="listing[image][url]" id="imageUrl"
                    class="form-control">
                <br>
                <input type="text" placeholder="Enter filename (optional)" name="listing[image][filename]"
                    class="form-control">
            </div>  -->
            


            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="file" placeholder="Upload file" name="listing[image]" id="image"
                    class="form-control">
                <br>

            </div>



           


           


            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" placeholder="Enter Price" name="listing[price]" id="price" class="form-control"
                        required min="1">
                    <div class="invalid-feedback">
                        Enter Valid Price.
                    </div>
                </div>

                <div class="mb-3 col-md-4">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="Enter Country name" name="listing[country]" id="country"
                        class="form-control" required minlength="2">
                    <div class="invalid-feedback">
                        Enter a Valid Country.
                    </div>
                </div>
            </div>



            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" placeholder="Enter location" name="listing[location]" id="location"
                    class="form-control" required minlength="2">
                <div class="invalid-feedback">
                    Enter a Valid Location.
                </div>
            </div>







            <button type="submit" class="btn btn-success">Submit</button>
            <br><br>
        </form>
    </body>