.plus-jakarta-sans-<uniquifier> {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
 }

#edit-new{
    margin-left: 15%;
    color: #39B5A8;
}
.edit-heading{
    margin-top: 3.5px;
}
.form-label {
    color: #4A4A4A !important;
    font-weight: 600; /* slightly less bold, looks elegant */
}
