
.flash-wrapper {
    display: flex;
    justify-content: center;   
    align-items: flex-start;   
  }
  
  
  .flash-wrapper .container .alert {
    height: auto !important;
    min-height: 0 !important;
    max-height: none !important;
    display: block;
    width: 100%;
    padding: .75rem 1.25rem;   
    box-sizing: border-box;
  }
  
  
  .flash-wrapper .container {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .btn-close:hover {
    opacity: 0.7;          
    transform: scale(1.1); 
}

.btn-close:focus {
    outline: none !important; 
    box-shadow: none !important;
}
