.plus-jakarta-sans-<uniquifier> {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
#footer{
    margin-top: 10px;
    background-color: #008080 !important;
    
    
}
#footer-container{
    color: white !important;
}
#social-media{
    color: white !important;
}