.plus-jakarta-sans-<uniquifier> {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color: #222222 !important;
}
