.plus-jakarta-sans-<uniquifier> {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.new-heading{
    margin-top: 3.5px;
}
#form-new{
    margin-left: 15%;
    
    
}
.form-label {
    color: #4A4A4A !important;
    font-weight: 600 !important; /* slightly less bold, looks elegant */
}

