.plus-jakarta-sans-<uniquifier> {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.new-heading{
    margin-top: 3.5px;
}
#form-new{
    margin-left: 15%;
    color: #39B5A8;
}


